/* Totalité de la page avec une couleur de fond : gris clair */
body {
	background-color:lightgrey;
	/* pour répéter verticalement (axe des Y) une image */
	background-image: url("../images/twitter_bird_icon.png");
	background-repeat: repeat-y;
	background-position: top right;
}

#expo {
	/* logo experience Brussels en image de fond dans visite.html */
	background-image: url("../images/eb_logo.png");
	background-repeat: no-repeat;
	background-position: top center;
}

/* Style des liens du menu de navigation */
nav ul li a {
	text-decoration: none;  /* supprimer le souligné des liens */
	color: #000000;			/* couleurs des liens */
	font-variant: small-caps;
	font-weight: bold;
	font-size: 18px;
}

/* Style pour modifier l'affichage des puces de la liste */
nav ul {
	list-style-type: none;	/* pas de style à la liste */
}

/* Style pour modifier l'affichage des éléments de liste */
/* Les placer à l'horizontal */
nav ul li {
	display: inline-block;
	margin-right: 20px;
	background-color: darkgrey;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}



/* Titre principal avec le texte en rouge et le fond en jaune */
h1 { 
color:red; 
background-color:yellow;
font-family: Arial, Helvetica, sans-serif;
font-variant: small-caps;
font-size: 150%;
text-align:center;
}

/* Sous-titres du main en vert */

main h2 {
	color:green;
}

#activ {
	color:orange;
}

/* changer la couleur des liens des pages avec la classe .lienpage */
.lienpage {
	color:black;
}

/* Tous les liens permettant de remonter en haut de la page (classe .retourtop) sont alignés à droite */
.retourtop {
	text-align: right;
}

/* Justifier tous les paragraphes */
p {
	text-align:justify;
}

/* Les liens internes, pour naviguer à l'intérieur de la page, sont en gras et en italique */
.lieninterne {
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}

/* Galerie Photo : largeur 1000px */
#galerie {
	width:1024px;
	/*background-color: white;*/
}

#galerie img {
	width:480px;
	/* espacements intérieurs de 5 pixels */
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	/* bordure épaisseur 2px,style trait plein, couleur #AA55FF, dans les 4 directions */
	border: 4px solid #AA55FF;
	/* pour séparer les différentes photos, marge extérieure de 5px */
	margin-right: 5px;
}
